/* .main.css-k1vhr4.egzxvld3{
    margin-top: -60px;
    margin-left: -75px;

    /* overflow: hidden; */
/* }

.css-u8hs99.exg6vvm14{
    visibility: collapse;
}

.css-po3vlj.exg6vvm15{
    width: 60%;
    height: 60px;
    margin-left: -90px;
    background-color: white;
}

.css-po3vlj.exg6vvm15 .css-1x8cf1d.edgvbvh10{
    position: inherit;
    width: 60%;
    height: 50px;
    left: -50px;
    border: 160px solid;}
  
.css-ocqkz7.e1tzin5v4{
    width: 110%;
} */ 
.main.css-k1vhr4.egzxvld3{
    margin-top: -60px;
    margin-left: -75px;

    /* overflow: hidden;*/
}



    .css-u8hs99.exg6vvm14{
        visibility: collapse;
    }
    
    .css-po3vlj.exg6vvm15{
        width: 60%;
        height: 60px;
        margin-left: -90px;
        background-color: white;
    }
    
    .css-po3vlj.exg6vvm15 .css-1x8cf1d.edgvbvh10{
        position: inherit;
        width: 60%;
        height: 50px;
        left: -50px;
        border: 160px solid;}
      
    .css-ocqkz7.e1tzin5v4{
        width: 110%;
    }
    .main.css-k1vhr4.egzxvld3{
        margin-top: -60px;
        margin-left: -75px;
    
        /* overflow: hidden; */
    }
    
    .css-u8hs99.exg6vvm14{
        visibility: collapse;
    }
    
    .css-po3vlj.exg6vvm15{
        width: 60%;
        height: 60px;
        margin-left: -90px;
        background-color:rgb(243 239 239 / 26%);
    }
    
    /* .css-po3vlj.exg6vvm15 .css-1x8cf1d.edgvbvh10{
        position: inherit;
        width: 60%;
        height: 50px;
        left: -50px;
        border: 160px solid;} */
      
    .css-ocqkz7.e1tzin5v4{
        width: 110%;
    }
    
    .css-pmxsec .exg6vvm15 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color:black;
        background-color:rgb(243 239 239 / 26%) ;
        margin-left: -15px;
        margin-top: -130px;
    }
    .css-pmxsec .exg6vvm5 {
        max-width: inherit;
        flex: 1 1 0%;
        align-items: flex-start;
        margin-bottom: 0.5rem;
        margin-left: -23px;
    }
    .css-15tx938 {
        font-size: 14px;
        color: rgb(49, 51, 63);
        margin-bottom: 0.5rem;
        height: auto;
        min-height: 1.5rem;
        vertical-align: middle;
        display: flex;
        flex-direction: row;
        -webkit-box-align: center;
        align-items: center;
        visibility: hidden;
    }
    /* .st-av st-aw st-ax st-ay st-bb st-bd st-b7 st-b4 st-b5 st-be st-bf st-bg st-bh st-bi st-bj st-bk st-bl st-bm st-bn st-b2 st-bo st-bp st-eb st-ec st-ed st-ee st-bu{
        margin-left: -50px;
    } */
    .css-10xlvwk {
        background-color: rgb(240, 242, 246);
        background-attachment: fixed;
        flex-shrink: 0;
        height: calc(100vh - 2px);
        top: 2px;
        overflow: overlay;
        position: relative;
        transition: margin-left 300ms ease 0s, box-shadow 300ms ease 0s;
        width: 15rem;
        z-index: 999991;
        margin-left: 0px;
    }
    .css-1v3fvcr .egzxvld3 {
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: auto;
        -webkit-box-align: center;
        align-items: center;
        margin-left: -2000px;
        margin-right: -60px;
    }
    .css-18e3th9 .egzxvld2 {
        overflow: visible;
        width: 0px;
        display: flex;
        flex-direction: column;
        flex: 1 1 0%;
        margin-left: -50px;
        margin-right: -50px;
    }
    .css-1unhku .e1tzin5v0{
        margin-left: -500px;
    }
    .css-t3isd6 .e1tzin5v3{
        width: 382px;
        position: relative;
        margin-left: 500px;
    }
    /* .css-1v3fvcr .egzxvld3{
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: auto;
        -webkit-box-align: center;
        align-items: center;
        margin-left: -50px;
        margin-right: -50px;
    }
    .css-1unhku {
        margin-right: 60px;
    } */
    
    
    .main.css-k1vhr4.egzxvld3{
        margin-top: -60px;
        margin-left: -75px;
    
        /* overflow: hidden; */
    }
    
    .css-u8hs99.exg6vvm14{
        visibility: collapse;
    }
    
    .css-po3vlj.exg6vvm15{
        width: 60%;
        height: 60px;
        margin-left: -90px;
        background-color:rgb(243 239 239 / 26%);
    }
    
    .css-po3vlj.exg6vvm15 .css-1x8cf1d.edgvbvh10{
        position: inherit;
        width: 60%;
        height: 50px;
        left: -50px;
        border: 160px solid;}
      
    .css-ocqkz7.e1tzin5v4{
        width: 110%;
    } */
    /* .css-1dhfpht {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        padding: 1rem;
        background-color: rrgb(243 239 239 / 26%);
        border-radius: 0.25rem;
        color:rgb(193 46 87);
    } */
    .css-pmxsec .exg6vvm15 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color:black;
        background-color:rgb(243 239 239 / 26%) ;
        margin-left: -15px;
        margin-top: -130px;
    }
    .css-pmxsec .exg6vvm5 {
        max-width: inherit;
        flex: 1 1 0%;
        align-items: flex-start;
        margin-bottom: 0.5rem;
        margin-left: -23px;
    }
    .css-15tx938 {
        font-size: 14px;
        color: rgb(49, 51, 63);
        margin-bottom: 0.5rem;
        height: auto;
        min-height: 1.5rem;
        vertical-align: middle;
        display: flex;
        flex-direction: row;
        -webkit-box-align: center;
        align-items: center;
        visibility: hidden;
    }
    .st-av st-aw st-ax st-ay st-bb st-bd st-b7 st-b4 st-b5 st-be st-bf st-bg st-bh st-bi st-bj st-bk st-bl st-bm st-bn st-b2 st-bo st-bp st-eb st-ec st-ed st-ee st-bu{
        margin-left: -20px;
    }
    .css-10xlvwk {
        background-color: rgb(240, 242, 246);
        background-attachment: fixed;
        flex-shrink: 0;
        height: calc(100vh - 2px);
        top: 2px;
        overflow: overlay;
        position: relative;
        transition: margin-left 300ms ease 0s, box-shadow 300ms ease 0s;
        width: 15rem;
        z-index: 999991;
        margin-left: 0px;
    }
    .css-ocqkz7.e1tzin5v4 {
        width: 110%;
        margin-left: -40px;
        margin-right: -40px;

        /* margin-right: -40px; */
    }
    .css-1cpxqw2{
        display: inline-flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        font-weight: 400;
        padding: 0.25rem 0.75rem;
        border-radius: 0.25rem;
        margin: 0px;
        line-height: 1.6;
        color: inherit;
        width: auto;
        user-select: none;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgba(49, 51, 63, 0.2);
        margin-left: 155px;
    
    
        
    }
    
    #audio {
        width: 294px;
        margin-left: 50px;
       align-items: center;
    }
    .css-1r6slb0 {
        margin-left: -20px;
        width: calc(33.3333% - 1rem);
        flex: 1 1 calc(33.3333% - 1rem);
    }