/* .main.css-k1vhr4.egzxvld3{
    margin-top: -60px;
    margin-left: -75px;

    /* overflow: hidden; */
/* }

.css-u8hs99.exg6vvm14{
    visibility: collapse;
}

.css-po3vlj.exg6vvm15{
    width: 60%;
    height: 60px;
    margin-left: -90px;
    background-color: white;
}

.css-po3vlj.exg6vvm15 .css-1x8cf1d.edgvbvh10{
    position: inherit;
    width: 60%;
    height: 50px;
    left: -50px;
    border: 160px solid;}
  
.css-ocqkz7.e1tzin5v4{
    width: 110%;
} */ 
.main.css-k1vhr4.egzxvld3{
    margin-top: -60px;
    margin-left: -75px;

    /* overflow: hidden;*/
}



    .css-u8hs99.exg6vvm14{
        visibility: collapse;
    }
    
    .css-po3vlj.exg6vvm15{
        width: 60%;
        height: 60px;
        margin-left: -90px;
        background-color: white;
    }
    
    .css-po3vlj.exg6vvm15 .css-1x8cf1d.edgvbvh10{
        position: inherit;
        width: 60%;
        height: 50px;
        left: -50px;
        border: 160px solid;}
      
    .css-ocqkz7.e1tzin5v4{
        width: 110%;
    }
    .main.css-k1vhr4.egzxvld3{
        margin-top: -60px;
        margin-left: -75px;
    
        /* overflow: hidden; */
    }
    
    .css-u8hs99.exg6vvm14{
        visibility: collapse;
    }
    
    .css-po3vlj.exg6vvm15{
        width: 60%;
        height: 60px;
        margin-left: -90px;
        background-color:rgb(243 239 239 / 26%);
    }
    
    /* .css-po3vlj.exg6vvm15 .css-1x8cf1d.edgvbvh10{
        position: inherit;
        width: 60%;
        height: 50px;
        left: -50px;
        border: 160px solid;} */
      
    .css-ocqkz7.e1tzin5v4{
        width: 110%;
    }
    
    .css-pmxsec .exg6vvm15 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color:black;
        background-color:rgb(243 239 239 / 26%) ;
        margin-left: -15px;
        margin-top: -130px;
    }
    .css-pmxsec .exg6vvm5 {
        max-width: inherit;
        flex: 1 1 0%;
        align-items: flex-start;
        margin-bottom: 0.5rem;
        margin-left: -23px;
    }
    .css-15tx938 {
        font-size: 14px;
        color: rgb(49, 51, 63);
        margin-bottom: 0.5rem;
        height: auto;
        min-height: 1.5rem;
        vertical-align: middle;
        display: flex;
        flex-direction: row;
        -webkit-box-align: center;
        align-items: center;
        visibility: hidden;
    }
    /* .st-av st-aw st-ax st-ay st-bb st-bd st-b7 st-b4 st-b5 st-be st-bf st-bg st-bh st-bi st-bj st-bk st-bl st-bm st-bn st-b2 st-bo st-bp st-eb st-ec st-ed st-ee st-bu{
        margin-left: -50px;
    } */
    .css-10xlvwk {
        background-color: rgb(240, 242, 246);
        background-attachment: fixed;
        flex-shrink: 0;
        height: calc(100vh - 2px);
        top: 2px;
        overflow: overlay;
        position: relative;
        transition: margin-left 300ms ease 0s, box-shadow 300ms ease 0s;
        width: 15rem;
        z-index: 999991;
        margin-left: 0px;
    }
    .css-1v3fvcr .egzxvld3 {
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: auto;
        -webkit-box-align: center;
        align-items: center;
        margin-left: -2000px;
        margin-right: -60px;
    }
    .css-18e3th9 .egzxvld2 {
        overflow: visible;
        width: 0px;
        display: flex;
        flex-direction: column;
        flex: 1 1 0%;
        margin-left: -50px;
        margin-right: -50px;
    }
    .css-1unhku .e1tzin5v0{
        margin-left: -500px;
    }
    .css-t3isd6 .e1tzin5v3{
        width: 382px;
        position: relative;
        margin-left: 500px;
    }
    /* .css-1v3fvcr .egzxvld3{
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: auto;
        -webkit-box-align: center;
        align-items: center;
        margin-left: -50px;
        margin-right: -50px;
    }
    .css-1unhku {
        margin-right: 60px;
    } */
    
    
    .main.css-k1vhr4.egzxvld3{
        margin-top: -60px;
        margin-left: -75px;
    
        /* overflow: hidden; */
    }
    
    .css-u8hs99.exg6vvm14{
        visibility: collapse;
    }
    
    .css-po3vlj.exg6vvm15{
        width: 60%;
        height: 60px;
        margin-left: -90px;
        background-color:rgb(243 239 239 / 26%);
    }
    
    .css-po3vlj.exg6vvm15 .css-1x8cf1d.edgvbvh10{
        position: inherit;
        width: 60%;
        height: 50px;
        left: -50px;
        border: 160px solid;}
      
    .css-ocqkz7.e1tzin5v4{
        width: 110%;
    } */
    /* .css-1dhfpht {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        padding: 1rem;
        background-color: rrgb(243 239 239 / 26%);
        border-radius: 0.25rem;
        color:rgb(193 46 87);
    } */
    .css-pmxsec .exg6vvm15 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color:black;
        background-color:rgb(243 239 239 / 26%) ;
        margin-left: -15px;
        margin-top: -130px;
    }
    .css-pmxsec .exg6vvm5 {
        max-width: inherit;
        flex: 1 1 0%;
        align-items: flex-start;
        margin-bottom: 0.5rem;
        margin-left: -23px;
    }
    .css-15tx938 {
        font-size: 14px;
        color: rgb(49, 51, 63);
        margin-bottom: 0.5rem;
        height: auto;
        min-height: 1.5rem;
        vertical-align: middle;
        display: flex;
        flex-direction: row;
        -webkit-box-align: center;
        align-items: center;
        visibility: hidden;
    }
    .st-av st-aw st-ax st-ay st-bb st-bd st-b7 st-b4 st-b5 st-be st-bf st-bg st-bh st-bi st-bj st-bk st-bl st-bm st-bn st-b2 st-bo st-bp st-eb st-ec st-ed st-ee st-bu{
        margin-left: -20px;
    }
    .css-10xlvwk {
        background-color: rgb(240, 242, 246);
        background-attachment: fixed;
        flex-shrink: 0;
        height: calc(100vh - 2px);
        top: 2px;
        overflow: overlay;
        position: relative;
        transition: margin-left 300ms ease 0s, box-shadow 300ms ease 0s;
        width: 15rem;
        z-index: 999991;
        margin-left: 0px;
    }
    
    .css-1cpxqw2{
        display: inline-flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        font-weight: 400;
        padding: 0.25rem 0.75rem;
        border-radius: 0.25rem;
        margin: 0px;
        line-height: 1.6;
        color: inherit;
        width: auto;
        user-select: none;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgba(49, 51, 63, 0.2);
        margin-left: 155px;
    
    
        
    }

    /*2222222222222222222*/
    /* .css-18e3th9 {
        flex: 1 1 0%;
        width: 100%;
        padding: 5%;
        min-width: auto;
        max-width: initial;
    } */
    .css-ocqkz7.e1tzin5v4 {
        width: 110%;
        margin-left: -40px;
        margin-right: -40px;
        /* margin-right: -40px;zzz */
    }
    
    /* #audio {
        width: 294px;
        margin-left: 50px;
        margin-right: -20px;
        align-items: center;
    } */
    /* /* .css-1r6slb0 {
        margin-left: -20px;
        width: calc(33.3333% - 1rem);
        flex: 1 1 calc(33.3333% - 1rem); */
    


  
 
    
    /* .css-zvwavg {
        width: 832px;
        position: relative;
        display: flex;
        flex: 1 1 0%;
        flex-direction: column;
        gap: 1rem;
        margin-top: -80px;
    }
*/
    
   

    /* .css-m797a3 {
        width: 574px;
        position: relative;
        display: flex;
        flex: 1 1 0%;
        flex-direction: column;
        gap: 1rem;
        
    }  */
    /* .css-18e3th9 {
        flex: 1 1 0%;
        width: 100%;
        padding: 6rem 1rem 10rem;
        min-width: auto;
        max-width: initial;
        margin-top: -40px;
    }
     */
     .css-m797a3 .e1tzin5v0{
            margin-top: -500px;
     }
     .css-18e3th9 {/*shifted all screen up */
        margin-left: 45px;
        margin-top: 8px;
        padding: 3.1%;
    }
    #audio {
        width: 294px;
        margin-left: 45px;
    }
    .css-1k4smn2 {
        width: calc(1.92308% - 1rem);
        flex: 1 1 calc(1.92308% - 1rem);
        margin-left: 20px;
    }
    .css-pvp5gr {
        width: 352px;
        position: relative;
        margin-left: 25px;
    }
    /* .css-ocqkz7.e1tzin5v4 {
        width: 110%;
        margin-left: -40px;
        margin-top: -15px;
        margin-right: -40px;
        margin-top: -16px;
    } */
    .css-ocqkz7.e1tzin5v4 {
        width: 100%;
        margin-left: -43px;
        margin-top: -15px;
        margin-right: -40px;
        margin-top: -16px;
    }

    /* .css-qri22k { footer code
    display: block;
    color: rgba(49, 51, 63, 0.4);
    flex: 0 1 0%;
    font-size: 14px;
    min-width: auto;
    max-width: initial;
    padding: 0%;
    width: 100%;
    margin-top: -129px;
    visibility: hidden;
} */
/* 

.css-18e3th9 { dec padd bottom
    margin-left: 45px;
    margin-top: 8px; 
    padding: 3.1%;
    padding-bottom: 0%;
} */
  
    /* hello */
/*hope  final edit*/

.css-ocqkz7.e1tzin5v4 {
    width: 100%;
    margin-left: -43px;
    margin-top: -15px;
    margin-right: -40px;
    margin-top: -36px;
}

#audio {
    width: 294px;
    margin-left: 45px;
    margin-top: 20px;
    height: 71px;
    padding-top: 0%;
}

.css-18e3th9 {
    margin-left: 45px;
    margin-top: 8px;
    padding: 3.1%;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: :3%;
    padding-bottom: 0%;
}

.css-ocqkz7.e1tzin5v4 {
    width: 100%;
    margin-left: -38px;
    margin-top: -15px;
    margin-right: -40px;
    margin-top: -50px;
    padding-bottom: 0%;
}


.css-19cgz1t {
    width: 55px;
    position: relative;
    margin-top: 14px;
    margin-bottom: -27px;
    margin-left: 29px;
}
.css-50ug3q { /* containers of numbers*/
    overflow-wrap: normal;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    font-family: "Source Sans Pro", sans-serif;
    line-height: inherit;
    line-height: normal;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: -16px;
    margin-top: 10px;
}
.css-ocqkz7.e1tzin5v4 {
    width: 100%;
    margin-left: -38px;
    margin-top: -15px;
    margin-right: -40px;
    margin-top: -25px;
    padding-bottom: 0%;
}
/*slider 1*/
#root {
    display: flex;
    justify-content: center;
    height: -50px;
    height: 0px;
}
/* .css-ghugjd {
    border-radius: 12px;
    box-sizing: content-box;
    display: inline-block;
    position: relative;
    cursor: pointer;
    touch-action: none;
    color: rgb(191, 0, 0);
    -webkit-tap-highlight-color: transparent;
    height: 100%;
    width: 4px;
    padding: 0px 13px;
    margin: 0px;
} */

div.stHorizontalBlock.css-ghugjd {
    border-radius: 12px;
    box-sizing: content-box;
    display: inline-block;
    position: relative;
    cursor: pointer;
    touch-action: none;
    color: rgb(191, 0, 0);
    -webkit-tap-highlight-color: transparent;
    height: 100%;
    width: 4px;
    padding: 0px 13px;
    margin: 25px;
}


.css-orqf19 {
    height: 50px;
    margin-top: 20px;
} 
.css-ocqkz7.e1tzin5v4 {
    width: 100%;
    margin-left: -38px;
    margin-top: -15px;
    margin-right: -40px;
    margin-top: -45px;
    padding-bottom: 0%;
    height: 60%;
}
/* .css-1xvmym8 {
    font-size: 14px;
    color: rgb(49, 51, 63);
    height: auto;
    min-height: 1.5rem;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: -50px;
} */
.css-19cgz1t {
    width: 55px;
    position: relative;
    margin-top: 14px;
    margin-bottom: -27px;
    margin-left: 29px;
    margin-top: 13px;
}
.css-50ug3q { /*number contianer*/
    overflow-wrap: normal;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    font-family: "Source Sans Pro", sans-serif;
    line-height: inherit;
    line-height: normal;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: -16px;
    margin-top: 9px;
}
.css-ghugjd {
    border-radius: 12px;
    box-sizing: content-box;
    display: inline-block;
    position: relative;
    cursor: pointer;
    touch-action: none;
    color: rgb(191, 0, 0);
    -webkit-tap-highlight-color: transparent;
    height: 90%;
    width: 4px;
    padding: 0px 13px;
    margin: 40px;
}
.css-orqf19 {
    height: 40px;
}
.css-ocqkz7.e1tzin5v4 {
    width: 100%;
    margin-left: -38px;
    margin-top: -15px;
    margin-right: -40px;
    margin-top: -55px;
    padding-bottom: 0%;
    /* height: 53%; */
    margin-bottom: 15px;
}
.css-19cgz1t {
    width: 55px;
    position: relative;
    margin-top: 14px;
    margin-bottom: -27px;
    margin-left: 29px;
    margin-top: 16px;
}
.css-19cgz1t {
    /* font-size: 15px; */
    width: 55px;
    position: relative;
    margin-top: 14px;
    margin-bottom: -30px;
    margin-left: 29px;
    margin-top: 12px;
    height: 0%;
    /* font-feature-settings: normal; */
    forced-color-adjust: red;
}
.css-19cgz1t {
    /* font-size: 15px; */
    width: 55px;
    position: relative;
    margin-top: 14px;
    margin-bottom: -30px;
    margin-left: 29px;
    margin-top: 9px;
    height: 0%;
    /* font-feature-settings: normal; */
    forced-color-adjust: red;
}
.css-19cgz1t {
    /* font-size: 15px; */
    width: 55px;
    position: relative;
    margin-top: 14px;
    margin-bottom: -30px;
    margin-left: 29px;
    margin-top: 5px;
    height: 0%;
    /* font-feature-settings: normal; */
    forced-color-adjust: red;
}
.css-ocqkz7.e1tzin5v4 {
    width: 100%;
    margin-left: -38px;
    margin-top: -15px;
    margin-right: -40px;
    margin-top: -28px;
    padding-bottom: 0%;
    /* height: 53%; */
    margin-bottom: 15px;
}
.css-ocqkz7.e1tzin5v4 {
    width: 100%;
    margin: -28px -40px 15px -38px;
    padding-bottom: 0%;
    margin-left: 20px;
}


.css-ocqkz7.e1tzin5v4 {
    width: 100%;
    /* margin: -28px -40px 15px -38px; */
    padding-bottom: 0%;
    margin-left: 20px;
    padding-left: 0%;
    margin-right: 20px;
    padding-right: 0%;
}
.css-18e3th9 {
    margin-left: 45px;
    margin-top: 8px;
    padding: 3.1%;
    padding-top: 3%;
    padding-left: 50px;
    padding-right: 0%;
    margin-right: 38px;
    padding-right: :3%;
    padding-bottom: 0%;
}

.css-ytkq5y {
    width: calc(10% - 1rem);
    /* flex: 1 1 calc(10% - 1rem); */
    margin-right: 5px;
    margin-left: -15px;
    padding-left: 0px;
    padding-right: 0px;
}
css-keje6w {
    width: calc(50% - 1rem);
    flex: 1 1 calc(50% - 1rem);
    margin-top: 10px;
}
/* .css-12w0qpk { /*at vowels*/
    /* width: calc(25% - 1rem);
    flex: 0 rem;
    flex: 0 0 calc(25% - 1rem);
} */ 
.css-ocqkz7.e1tzin5v4 {
    width: 100%;
    /* margin: -28px -40px 15px -38px; */
    padding-bottom: 0%;
    margin-left: -10px;
    padding-left: 0%;
    margin-right: 20px;
    padding-right: 0%;
}
/* .css-ocqkz7.e1tzin5v4 {
    width: 100%;
    /* margin: -28px -40px 15px -38px; */
    /* padding-bottom: 0%;
    margin-left: -40px;
    padding-left: 0%;
    margin-right: 0px;
    padding-right: 0%;
} */ */

/* .css-znku1x {
    font-family: "Source Sans Pro", sans-serif;
    margin-bottom: -1rem;
    margin-left: -30px;
}
 */
