.main.css-k1vhr4.egzxvld3{
    margin-top: -60px;
    margin-left: -75px;

    /* overflow: hidden; */
}

.css-u8hs99.exg6vvm14{
    visibility: collapse;
}

.css-po3vlj.exg6vvm15{
    width: 60%;
    height: 60px;
    margin-left: -90px;
    background-color: white;
}

.css-po3vlj.exg6vvm15 .css-1x8cf1d.edgvbvh10{
    position: inherit;
    width: 60%;
    height: 50px;
    left: -50px;
    border: 160px solid;}
.css-ytkq5y.e1tzin5v2{
    /* margin: 20px; */
}